<nav class="ui menu">
  <header class="ui header item"> <a href="/"> <i class="blue dumbbell icon"></i> Globo-Gym Inc. </a></header>
  <div class="right menu">
    <a id="memberdashboard" class="item" href="/memberdashboard"> <i class=" blue address card icon"></i>Dashboard </a>
    <a id="updatedetails" class="item" href="/updatedetails"> <i class="blue edit icon"></i> Update Details </a>
    <a id="logout" class="item" href="/logout"> <i class="blue sign out alternate icon"></i> Logout </a>
    <a id="about" class="item" href="/about"> <i class="blue info circle icon"></i> About </a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>