#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}

<section class="ui horizontal centered segments">
  <section class="ui segment">
    <h1 class="ui centered header">Who Are We?</h1>
    <p style="text-align: center">Globo-Gym Inc. is a multi-national, soulless corporate gym franchise.
               <br>Our aim is to make you feel great by putting you through misery.</p>
  </section>
  <section class="ui segment">
    <div style="text-align: center"> <i class="massive ui user icon"></i></div>
  </section>
</section>