#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}

<section class="ui horizontal centered segments">
  <section class="ui segment">
    <h1 class="ui centered header">Who Are We?</h1>
    <p style="text-align: center">Globo-Gym Inc. is a multi-national, soulless corporate gym franchise.
               <br>Our aim is to make you feel great by putting you through misery.
               <br>And make money while we do it.</p>
  </section>
  <section class="ui segment">
    <div style="text-align: center"> <i class="blue massive money bill alternate outline icon"></i></i></div>
  </section>
</section>